<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Redirect to public directory
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]

</IfModule>

<IfModule mod_mime.c>
    # Add proper MIME types for images
    AddType image/webp .webp
    AddType image/jpeg .jpg .jpeg .jfif .pjpeg .pjp
    AddType image/png .png
    AddType image/gif .gif
    AddType image/svg+xml .svg
</IfModule>

