@tailwind base;
@tailwind components;
@tailwind utilities;

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins" !important;
}
.hero-bg {
    background-image: url("https://images.unsplash.com/photo-1600585154340-be6161a56a0c?ixlib=rb-4.0.3&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;
    background-position: center;
}
.image-overlay {
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.2)
    );
}
.product-image {
    background-image: url("https://images.unsplash.com/photo-1542838132-92c53300491f?ixlib=rb-4.0.3&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
}
.mobile-sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: #333;
    color: #fff;
    padding: 20px;
    transition: left 0.5s;
    z-index: 1000;
    display: block;
}
.mobile-sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}
.mobile-sidebar.show {
    left: 0;
}
.mobile-sidebar-overlay.show {
    display: block;
}
